.container{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1em;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px 6px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px 12px;
  }
}

.productName{
  height: 40px;
  font-weight: 600;
  font-size: 1em;
}