@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Заполняем всю высоту экрана */
}

main{
  flex: 1;
  height: 100%;
}